@font-face {
    font-family: "BroncoPersonalUse";
    src: url("fonts/BroncoPersonalUse.ttf");
}


.root {

}

/* Stil für den Titel "DAMPFROSS" */
.text-title {
    -fx-font-family: "BroncoPersonalUse";
    -fx-font-size: 30px;
    -fx-font-fill: white;
}

/* Stil für Buttons */
.button {
    -fx-background-color: white; 
    -fx-border-color: black; 
    -fx-border-width: 2px; 
    -fx-text-fill: black; 
    -fx-font-size: 16px; 
    -fx-font-family: "Arial", sans-serif; 
    -fx-padding: 10px 20px; 
    -fx-background-radius: 0; 
    -fx-border-radius: 0; 
    -fx-cursor: hand; 
}

/* Hover-Effekt für Buttons */
.button:hover {
    -fx-background-color: lightgray; 
}

/* Fokus-Effekt für Buttons */
.button:focused {
    -fx-border-color: darkgray; 
}

@font-face {
    font-family: "BroncoPersonalUse";
    src: url("fonts/BroncoPersonalUse.ttf");
}
